# Assignment 8

#### 1. å¤ä¹ ä¸Šè¯¾å†…å®¹

#### 2.ç†è®ºé¢˜

##### 1.  What is semi-supervised learning ?

semi-supervisedï¼š

+ æœ‰æ ‡ç­¾æ•°æ®
$$\{(x^{r},y\_hat^{r})\}^{R}_{r=1}$$
+ æ— æ ‡ç­¾æ•°æ®
$$\{x^{u}\}^{R+U}_{u=R}$$
é€šå¸¸æƒ…å†µä¸‹ U>>R

æœ‰æœªæ ‡æ³¨æ•°æ®å‚ä¸è®­ç»ƒçš„å­¦ä¹ ï¼Œå¯ä»¥åˆ†ä¸ºinductive learning å’Œ transductive learning

+ å¦‚æœè¿™ä¸ªæœªæ ‡æ³¨æ•°æ®åŒæ—¶ä¹Ÿæ˜¯æµ‹è¯•æ•°æ®ï¼Œåˆ™æ˜¯transductive learning
+ å¦‚æœè¿™ä¸ªæœªæ ‡æ³¨æ•°æ®åªæ˜¯ç”¨äºå¸®åŠ©è®­ç»ƒè€Œä¸ç”¨äºæµ‹è¯•çš„è¯ï¼Œåˆ™æ˜¯inductive learning

##### 2. What is GMM ?

é«˜æ–¯æ··åˆæ¨¡å‹GMM ç”¨æ¥è¡¨ç¤ºåœ¨æ€»ä½“åˆ†å¸ƒï¼ˆdistributionï¼‰ä¸­å«æœ‰ K ä¸ªå­åˆ†å¸ƒçš„æ¦‚ç‡æ¨¡å‹

é«˜æ–¯æ··åˆæ¨¡å‹çš„æ¦‚ç‡åˆ†å¸ƒä¸ºï¼š

$$P(x|\theta) = \Sigma^K_{k=1} \alpha_{k}\phi(x|\mu_{k},\sigma_{k})$$

Kæ˜¯æ··åˆæ¨¡å‹ä¸­å­é«˜æ–¯æ¨¡å‹çš„æ•°é‡ï¼Œk=1,2,3...,K

$\alpha_{k}$æ˜¯è§‚æµ‹æ•°æ®å±äºç¬¬kä¸ªå­æ¨¡å‹çš„æ¦‚ç‡, $\Sigma^K_{k=1} \alpha_{k} = 1$

##### 3. What are the diffreences between seed k-means and constrained k-means ?

+ Seeded K-Means:
    + Labeled data provided by user are used for initialization: initial center for cluster ğ‘– is the mean of the seed points having label ğ‘–
    + Seed points are only used for initialization, and not in subsequent steps

+ Constrained K-Means:  
    + Labeled data provided by user are used to initialize K-Means algorithm.
    + Cluster labels of seed data are kept unchanged in the cluster assignment steps, and only the labels of the non-seed data are re-estimated.


+ ä¸¤ä¸ªéƒ½æ˜¯ç”¨æœ‰æ ‡ç­¾çš„æ•°æ®åšåˆå§‹åŒ–
    + Seeded K-Meansçš„æœ‰æ ‡ç­¾æ•°æ®ä¼šå’Œæ— æ ‡ç­¾æ•°æ®ä¸€æ ·è¿›è¡Œè®­ç»ƒæ›´æ–°ï¼Œæœ‰å¯èƒ½ä¼šåœ¨ä¹‹åçš„æ­¥éª¤è¿›è¡Œä¸€å®šçš„æ›´æ–°
    + Constrained K-Meansä¼šæ’é™¤è¿™äº›ç”¨æ¥åˆå§‹åŒ–çš„æœ‰æ ‡ç­¾æ•°æ®(ç›¸ä¿¡è¿™äº›æœ‰æ ‡ç­¾çš„æ•°æ®)ã€‚

##### 4. Please briefly describe what are self-training and co-training ?

self-training è‡ªæˆ‘è®­ç»ƒ: é€šè¿‡ä¸€ç³»åˆ—çš„æ­¥éª¤ï¼Œç”¨å·²æœ‰çš„æœ‰æ ‡ç­¾çš„æ•°æ®(labelled data)ï¼Œå»å¯¹å‰©ä¸‹çš„è¿˜æœªæ ‡è®°çš„æ•°æ®æ‰“æ ‡ç­¾ã€‚ä»è€Œä½¿å¾—è®­ç»ƒæ•°æ®(training data)æ›´å¤š

+ ç”¨æœ‰æ ‡ç­¾æ•°æ®$\{(X_{1:n}, Y_{1:n})\}$è¿›è¡Œè®­ç»ƒ
+ ç”¨è¿™ä¸ªæ¨¡å‹æ¥å¯¹æ²¡æœ‰æ ‡ç­¾çš„æ•°æ®åšé¢„æµ‹ predicr on $X_u$
+ é€‰å–æœ€æœ‰æŠŠæ¡çš„é¢„æµ‹ç»“æœæ¥æ ‡è®°æ•°æ®(unlabelled data), æŠŠæ–°æ ‡è®°å¥½çš„æ•°æ®åŠ å…¥åˆ°åŸæ¥çš„æ ‡è®°å¥½çš„æ•°æ®é›†ä¸­ï¼ŒåŒæ—¶æŠŠä»–ä»¬ä»åŸæ¥çš„æ•°æ®é›†ä¸­åˆ é™¤
+ ä¸æ–­é‡å¤,ç›´åˆ°æ•°æ®é›†ä¸å‘ç”Ÿå˜åŒ–

co-training ååŒå­¦ä¹ :

å‡è®¾æœ‰æ•°æ®é›†ï¼Œæœ‰å¤šä¸ªç‰¹å¾ï¼Œéšæœºçš„æŠŠç‰¹å¾æ‹†æˆä¸¤éƒ¨åˆ†ï¼Œæ¯ç»„æ•°æ®æœ‰2ä¸ªç‰¹å¾: x1 å’Œ x2ã€‚å…¶ä¸­æœ‰æ ‡ç­¾çš„é‚£éƒ¨åˆ†æ•°æ®é›†ä¸ºL:[x1,x2,y]ï¼Œæ²¡æœ‰æ ‡ç­¾çš„æ•°æ®é›†ä¸ºU:[x1,x2]ã€‚

åˆå§‹åŒ–æ•°æ®ï¼ŒæŠŠL åˆ†ä¸ºL1 ([x1,y]) å’ŒL2 ([x2,y])

é‡å¤, ç›´åˆ°æ•°æ®é›†ä¸å‘ç”Ÿå˜åŒ–

+ åˆ†åˆ«ç”¨L1å’ŒL2è®­ç»ƒå‡ºä¸€ä¸ªæ¨¡å‹ F1å’ŒF2
+ åˆ†åˆ«ç”¨æ¨¡å‹F1å’ŒF2å»é¢„æµ‹U (ç»™Uæ‰“æ ‡ç­¾)ï¼ˆåªé€‰å‡ºæœ€æœ‰æŠŠæ¡çš„ä¸€äº›ç»“æœï¼‰
+ æŠŠF1é¢„æµ‹çš„top-kç»“æœæ”¾å…¥L2ï¼ŒæŠŠF2é¢„æµ‹çš„top-kç»“æœæ”¾å…¥L1 (äº¤å‰æ”¾ç½®)
+ æ›´æ–°L å’Œ Uï¼ŒæŠŠä»–ä»¬ä»åŸæ¥çš„æ•°æ®é›†ä¸­åˆ é™¤

##### 5. What is active learning ?

è®©æ¨¡å‹è‡ªåŠ¨æŒ‘é€‰å‡ºéœ€è¦å­¦ä¹ çš„æ•°æ®
+ ä»ä¸€å †ä¸å¸¦æ ‡ç­¾çš„æ•°æ®ä¸­
    + ä¸»åŠ¨é€‰æ‹©ä¸€éƒ¨åˆ†è¿›è¡Œæ ‡æ³¨ï¼Œè€Œä¸æ˜¯è¢«åŠ¨çš„ã€‚

+ æ¯æ ‡æ³¨ä¸€æ¬¡ï¼Œæ¨¡å‹é‡æ–°æˆ–è€…å¢é‡çš„è®­ç»ƒä¸€æ¬¡ã€‚

+ ç„¶åé‡å¤ä»¥ä¸Šæ­¥éª¤

#### 3.å®è·µé¢˜

Titanic: Machine Learning from Disaster

Data Source :https://www.kaggle.com/c/titanic/data

####  In this assignment, you have to build a predictive model that answers the question: â€œwhat sorts of people were more likely to survive?â€ using passenger data (ie name, age, gender, socio-economic class, etc).

ä½ï¼š å®Œæˆã€‚

é«˜ï¼šå‡†ç¡®ç‡ 95% ä»¥ä¸Šã€‚

In [123]:
import numpy as np
import pandas as pd
import xgboost as xgb

In [131]:
train = pd.read_csv('datasets/train.csv')
test = pd.read_csv('datasets/test.csv')

In [132]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [133]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [134]:
# æ€§åˆ«å¯¹å­˜æ´»ç‡çš„å½±å“ï¼Œ å¦‡å¥³å°å­©ä¼˜å…ˆçš„åŸåˆ™ï¼Œå¢åŠ åˆ¤æ–­æ˜¯å¦childçš„feature
print(train[['Sex','Survived']].groupby(['Sex']).mean())

        Survived
Sex
female  0.742038
male    0.188908

In [135]:
# èˆ¹èˆ±å’Œfareçš„å…³ç³»
print(train[['Pclass','Fare']].groupby(['Pclass']).mean())

             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550

### æ•°æ®é¢„å¤„ç†

In [136]:
def processing(titanic):
    #å¯¹äºå¹´é¾„ä¸ºç©ºçš„æ•°æ® å¡«å……å¹´é¾„ä¸­ä½æ•°
    titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())
    # child å¦‡å¥³å„¿ç«¥ä¼˜å…ˆ
    titanic["child"] = titanic["Age"].apply(lambda x: 1 if x < 15 else 0)
    # sex æŠŠæ€§åˆ«ä»å­—ç¬¦ä¸²ç±»å‹è½¬æ¢ä¸º0æˆ–1æ•°å€¼å‹æ•°æ®
    titanic["Sex"] = titanic["Sex"].apply(lambda x: 1 if x == "male" else 0)
    # familysize å®¶åº­æˆå‘˜äººæ•° å…„å¼Ÿå§å¦¹çˆ¶æ¯é…å¶åŠ è‡ªå·±
    titanic["fimalysize"] = titanic["SibSp"] + titanic["Parch"] + 1
    # å¯¹äºfareä¸ºç©ºçš„æ•°æ® æ ¹æ®èˆ¹èˆ±ç­‰çº§å¡«å……fareä¸­ä½æ•°
    titanic["Fare"] = titanic["Fare"].fillna(titanic["Fare"].median())
    # æ ¹æ®ä¸åŒèˆ¹èˆ±ç­‰çº§å¯¹åº”çš„èˆ¹ç¥¨å‡å€¼æ¥å¯¹ç¼ºå¤±çš„èˆ¹ç¥¨è¿›è¡Œèµ‹å€¼
    fare = [0,0,0]
    for level in range(0, 3):
        fare[level] = titanic[titanic.Pclass == level + 1]['Fare'].dropna().median()
    for level in range(0, 3):
        titanic.loc[(titanic.Fare.isnull()) & (titanic.Pclass == level + 1), 'Fare'] = fare[level]
    return titanic
# å¯¹æ•°æ®è¿›è¡Œé¢„å¤„ç†
train_data = processing(train)
test_data = processing(test)

In [138]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
child            0
fimalysize       0
dtype: int64

In [139]:
# é€‰å–ç‰¹å¾ Cabinå­—æ®µç¼ºå¤±æ•°æ®å¤š
X_train = train_data[['Sex', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare','child','fimalysize']].as_matrix()

/Users/maytone/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [140]:
Y_train = train['Survived']

In [141]:
#è®­ç»ƒæ¨¡å‹
model = xgb.XGBClassifier(max_depth=2, n_estimators=20, learning_rate=0.01).fit(X_train, Y_train)

In [142]:
X_test = test_data[['Sex', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare','child','fimalysize']].as_matrix()

/Users/maytone/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [143]:
# è°ƒå‚
from sklearn.model_selection import GridSearchCV
param_test = {
    'n_estimators':range(20,60,2),
    'max_depth': range(2, 10, 1),
    'learning_rate': list((0.1,0.05,0.01))
}
grid_search = GridSearchCV(estimator = model, param_grid = param_test, 
scoring='accuracy', cv=5)
grid_search.fit(X_train, Y_train)
grid_search.best_estimator_, grid_search.best_params_, grid_search.best_score_

(XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
               colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
               importance_type='gain', interaction_constraints='',
               learning_rate=0.1, max_delta_step=0, max_depth=6,
               min_child_weight=1, missing=nan, monotone_constraints='()',
               n_estimators=38, n_jobs=0, num_parallel_tree=1,
               objective='binary:logistic', random_state=0, reg_alpha=0,
               reg_lambda=1, scale_pos_weight=1, subsample=1,
               tree_method='exact', validate_parameters=1, verbosity=None),
 {'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 38},
 0.8428731762065096)

In [144]:
lr = grid_search.best_params_['learning_rate']
m_depth = grid_search.best_params_['max_depth']
n_estima = grid_search.best_params_['n_estimators']

In [146]:
#è¯„ä¼°æ¨¡å‹
model = xgb.XGBClassifier(max_depth=m_depth, n_estimators=n_estima, learning_rate=lr).fit(X_train, Y_train)
predictions = model.predict(X_test)

# ä¿å­˜é¢„æµ‹ç»“æœ
submission = pd.DataFrame({ 'PassengerId': test['PassengerId'],
                            'Survived': predictions })
submission.to_csv("titanic_xgboost_submission4.csv", index=False)

æœ€ç»ˆkaggleåªæœ‰0.77